//Styles for ad containers and responsive ads
.ad {
  position: relative;
  z-index: 10;
  text-align: center;
  &.ad-narrow {
    max-width: 85%;
    margin: 0 auto;
    clear: both;
  }
  &.ad-leaderboard {
    padding: 10px 0 0;
    text-align: left;
    margin-bottom: 1.55em;
    .custom_ad {
      float: left;
      margin: 0 5px;
      @include at-query($max, 1240px) {
        margin: 14px 3px;
        a {
          img {
            width: 290px;
          }
        }
      }
    }
    .adsbygoogle {
      float: left !important;
      overflow: hidden;
      @include at-query($max, $large) {
        max-width: 48%;
        margin: 0 1%;
      }
    }
    @include at-query($max, $xlarge) {
      .align-right {
        float: none;
      }
    }
  }
  &.ad-aside {
    float: right;
    margin: 1em 0 0.5em;
    position: relative;
    width: 100%;
    @include at-query($max, $medium) {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    @include at-query($max, $small) {
      clear: both;
      &:before {
        content: "More Stories Below";
        font-size: $baseFontSize * 0.7;
        color: $grey;
        position: relative;
        top: 0;
        z-index: 99;
        padding: 0.5em;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        height: 20px;
        display: block;
      }
    }
  }
}

.adsbygoogle {
  display: block;
  margin: 0 auto 1em auto;
  max-width: 100%;
  @include at-query($max, $medium) {
    width: 100% !important;
    overflow-x: scroll;
  }
}

.home {
  .ad-leaderboard {
    height: 110px;
    padding: 10px 0 0;
    top: 0;
  }
}

.ad-leaderboard {
  float: left;
  width: 100%;
  div {
    float: left;
    width: 61% !important;
  }

  .widget_media_image {
    width: 35% !important;
    margin: 0;
    &.full-width {
      width: 100% !important;
      margin: 0;
    }
  }
}

//hide ads on people pages
.single-people {
  .ad {
    display: none !important;
  }
}

#adblock-modal {
  display: none;
  z-index: 999;
  position: fixed;
  padding: 3em;
  background: red;
  top: 20%;
  left: 50%;
  width: 90%;
  margin: 0 auto;
}

//hide .ad when adblock present
.abp {
  .ad {
    display: none;
  }
}

body:not(.home) {
  .ad-blocked {
    position: relative;
    margin-top: 5em !important;
  }
}

.ad-blocked {
  margin: 5px 0 0;
  @include at-query($min, 768px) {
    margin: 5px 0 0 !important;
  }

  @include at-query($max, 768px) {
    display: none;
  }

  @include at-query($max, 1024px) {
    width: 97%;
  }
}

.special-message-wrapper {
  display: none;
}
