//Main content wrapper
#container {
  position: relative;
  overflow-x: hidden;
  @include at-query($max, $small) {
    display: inline-block;
  }
  #content {
    margin-bottom: $footerHeight;
    @include at-query($max, $small) {
      margin-bottom: 0;
    }
    @include at-query($max, $medium - 1) {
      max-width: 767px;
    }
    //Individual posts
    .header-tag {
      margin: 0 0 0 0.5em;
      padding-left: 0;
      position: relative;
      font-size: $baseFontSize * 0.875;
      @include at-query($max, $medium) {
        clear: both;
        top: 0;
        margin-left: 0;
        margin-top: 1em;
        a {
          color: white;
          display: block;
          padding: 5px 10px;
        }
      }
      @include at-query($max, $small) {
        position: absolute;
        right: auto;
        border: none;
        padding: 0;
        top: -25px;
      }
    }

    //The main header
    .entry-header {
      padding: 1.5em 0;
      position: relative !important;
      @include at-query($min, $medium) {
        font-size: 90%;
      }
      @include at-query($min, $large) {
        font-size: 100%;
      }
      .issue-header {
        a {
          margin-bottom: 0.5em;
          padding: 0.3em 0.8em;
          border: 1px solid $lighterGrey;
          width: auto;
          float: left;
        }
      }
    }

    .author-info {
      float: left;
      margin-right: 1em;
      a {
        color: $primary;
        &:hover {
          color: $primaryAlt;
          text-decoration: underline;
        }
      }
    }

    .author-list {
      clear: both;
      float: left;
      font-style: italic;
      border: 3px solid darken($lighterGrey, 4%);
      border-width: 2px 0;
      padding: 0.5em 0;
      h4 {
        float: left;
      }
      a {
        color: $primary;
        font-style: normal;
        font-weight: 800;
        &:hover {
          color: $primaryAlt;

          text-decoration: underline;
        }
        &.link-twitter {
          float: left;
          display: block;
          color: darken($secondaryAltLight, 3%);
          padding-left: 16px;
          margin-left: 0.4em;
          margin-top: 0.4em;
          &:hover {
            color: $secondaryAltLight;
            &:before {
              color: $secondaryAltLight;
            }
          }
        }
      }
      .bio {
        clear: both;
        text-align: left;
      }
    }

    .link-twitter {
      &:before {
        content: '\f099';
        font-family: 'FontAwesome';
        display: block;
        color: darken($secondaryAltLight, 3%);
        font-size: $baseFontSize;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 1px;
      }
    }

    /* post meta */
    .byline {
      color: $lightGrey;
      float: left;
      position: relative;
      @include at-query($max, $small) {
        margin-left: 0;
        padding-left: 0;
        border: 0;
        clear: both;
      }

      time {
        font-style: normal;
      }
    }

    .vcard {
      display: none;
      &.entry-meta {
        display: block;
      }
    }

    //The main post body
    .entry-content {
      text-align: left;
      clear: both;
      //Featured image
      .featured-image {
        margin-bottom: 0;
        position: relative;
        img {
          margin-bottom: 0;
          float: left;
          width: 100%;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
      //Social share buttons
      .social,
      #social {
        margin: 1em 0;
        width: 100%;
      }
      //General content styles
      p {
      }
    }
  }
}

.wp-caption {
  position: relative;
  margin: 1em;
}

.alignnone,
.aligncenter,
.featured-image {
  .caption,
  .wp-caption-text {
    position: relative;
    font-size: $baseFontSize * 0.9;
    @include sans-serif;
    text-align: left;
    bottom: -0.2em;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    left: 0;
    font-weight: 400;
    display: block;
    padding: 0.5em 1em;
    clear: both;
    bottom: 2.8em;
  }
}

.alignleft {
  &.wp-caption {
    bottom: 0.3em;
    padding: 0;
    background: none;
    color: $grey;
  }
}

.wp-caption-text,
.wp-caption {
  font-weight: bold;
  font-style: italic;
  padding: 0 0.5em;
  text-align: left;
}
.image-credit {
  right: 0.5em;
  bottom: 4.3em;
}

.featured-image .caption {
  bottom: 0;
  background: none;
  color: $lightGrey;
  padding: 0.5em 0 0 0.5em;
  clear: none;
  font-style: italic;
  font-size: $baseFontSize;
  width: auto;
  max-width: 80%;
  &.text--right {
    float: right;
  }
}

.media-credit-container {
  position: relative;
}

.media-credit {
  float: right;
  text-align: right;
  position: relative;
  right: 0;
  bottom: 0;
  margin-right: 0.5em;
  width: auto !important;
  cursor: pointer;
  @include sans-serif;
  font-size: $baseFontSize * 0.85;
  font-style: italic;
  color: $grey !important;
  &:hover {
    text-decoration: underline !important;
  }
  a {
    color: $grey;
    &:hover {
      text-decoration: underline;
    }
  }
  &.d {
    position: relative;
    bottom: -0.5em;
  }
}

.image-credit {
  position: absolute;
  right: 1em;
  bottom: 3.3em;
  z-index: 9;
  @include sans-serif;
  font-style: italic;
  font-size: $baseFontSize * 0.9;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}

//Misc hide specific items on posts and pages
.single-post {
  .hide-on-post {
    display: none;
  }
}

//wrap images on people page
.single-people {
  .entry-content {
    .headshot {
      float: left;
      margin: 0 1.5em 1em 0;
    }
    .link-twitter-wrapper {
      display: block;
      margin: 0 0 1em 0;
      padding-bottom: 1em;
      border-bottom: 1px solid $lighterGrey;
      .link-twitter {
        &:before {
          right: -1.3em !important;
          left: auto !important;
        }
      }
    }
  }
}

iframe {
  max-width: 100%;
}

#content .widget header {
  position: relative !important;
}

.timestamp {
  display: none;
}
#featured .timestamp {
  display: inline-block;
}

//Content bottom (Multiple image widget)
.widget_miw_widget_multiple_images {
  display: block !important;
  clear: both;
  float: left;
  .widget-payment-icon {
    display: flex;
    flex-wrap: wrap;
    img,
    a {
      flex-basis: 13%;
      width: 100%;
      height: 100%;
      margin: 0.5em 0.8em 0.5em 0;
      @include at-query($max, $medium) {
        flex-basis: 18%;
      }
      @include at-query($max, $small) {
        width: 45%;
        flex-basis: 45%;
        img {
          width: 100%;
        }
      }
    }
    a {
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.d-5of7 {
  .widget_miw_widget_multiple_images {
    .widget-payment-icon {
      img,
      a {
        flex-basis: 18%;
        @include at-query($max, $small) {
          flex-basis: 45%;
        }
      }
    }
  }
}

.page-template-full-width {
  .widget_miw_widget_multiple_images {
    .widget-payment-icon {
      img,
      a {
        flex-basis: 13%;
      }
    }
  }
}

//Content Bottom text widgets
.widget-content-bottom {
  clear: both;
  float: left;
  &.widget_text {
    background: $lighterGrey;
    padding: 2em;
    margin: 2em 0;
    .widgettitle {
      font-weight: 900;
      border-width: 3px;
    }
    @include at-query($min, $desktop) {
      padding: 1em 2em 1em 40%;
      position: relative;
      .textwidget p {
        padding: 0;
        margin: 0 0 1em 0;
        hyphens: unset;
        text-align: justify;
      }
      .widgettitle {
        left: 0;
        width: 33%;
        height: 77%;
        padding: 0 5%;
        position: absolute;
        border-bottom: 0;
        border-right: $primary 5px solid;
      }
    }
    @include at-query($min, $xlarge) {
      padding-left: 30%;
      .widgettitle {
        width: 25%;
      }
    }
  }
}

main {
  img {
    max-width: 100%;
  }
}
