//Styles for the footer
.footer {
  position:absolute;
  bottom:0;
  height:auto;
  float:left;
  display:block;
  width:100%;
  overflow:hidden;
  @include at-query ($max, $small) {
    position: relative;
  }
  #logo {
    float:left;
    padding:1.7em 0 0 0;
    width:17%;
    display: block;
    svg {
      max-height:49px;
    }
    @include at-query ($max, $small) {
      width:50%;
      float: none;
      margin:0 auto;
      margin-bottom:1em;
    }
  }
  //Footer nav
  $magwidth: 80%;
  nav {
    clear:both;
    #menu-main-menu {
      font-size: $baseFontSize*.9;
      li {
        float:left;
        a {
          color:white;
          text-transform: capitalize;
        }
        &:first-child ,
        &:nth-child(2) {
          a {
            color:$lightGrey;
            text-transform: uppercase;
            &:hover {
              text-decoration:none;
            }
          }
          ul.sub-menu {
            visibility:visible;
            position: relative;
            border:none;
            margin:0;
            font-size: 90%;
            padding-left:1px;
            z-index: 9;
            li {
              width:100%;
              margin:0;
              float:none;
              @include at-query ($max, $small) {
                margin:1em 0;
              }
              &:first-child {
                border:none;
                padding-bottom:0;
                a {
                  margin-bottom:0;
                }

              }
              &:nth-child(2) {
                padding-left:0;
                > a {
                  text-indent:0;
                }
              }
              ul {
                left:0;
                li {
                  width:100%;
                  margin-bottom:0;
                  a {
                    color:darken($lighterGrey, 15%);
                  }
                }
              }
              a {
                color:white;
                text-transform: capitalize;
                width:auto;
                border:none;
                padding:.5em 1em;
                display:block;
              }
              &:nth-child(2) {
                border:none;
              }
            }
          }
        }
        &:first-child {
          width:$magwidth;
          border-right:1px solid $grey;
          padding-bottom:1em;
          @include at-query ($max, $small) {
            width:100%
          }
          a {
            border-bottom:1px solid $grey;
            margin-bottom:.8em;
          }
          ul.sub-menu {
            -webkit-column-count: 3;
                 -moz-column-count: 3;
                      column-count: 3;
              -webkit-column-gap: 0em;
                 -moz-column-gap: 0em;
                      column-gap: 0em;
            @include at-query ($max, $small) {
              -webkit-column-count: 2;
                   -moz-column-count: 2;
                        column-count: 2;
            }
            li {
              width:100%;
              ul.sub-menu {
                -webkit-column-count: 1;
                     -moz-column-count: 1;
                          column-count: 1;
                font-size: 100%;
                margin:.5em 0;
                li {
                  a {
                    padding:0 1em;
                  }
                }
              }
              &:first-child {
                width:100%;
                padding:0;
              }
              a {
                border:none;
                margin:0;
              }
            }
          } 
        }
        &:nth-child(2) {
          width:100% - $magwidth;
          padding-left:1em;
          @include at-query ($max, $small) {
            width:100%;
            padding-left: 0;
          }
          > a {
            text-indent:-9999px;
            @include at-query ($max, $small) {
              display:none;
            }
          }
        }
      }
    }
  }
  //newsletter
  #signup {
    color:white;
    float: left;
    width: 80%;
    margin-left: 3%;
    h2 {
      display:none;
    }
    @include at-query ($max, $small) {
      width:90%;
      margin-left: 0;
      float: none;
      margin:0 auto;
    }
    input[type="text"] {
      width:80%;
      float:left;
      @include at-query ($max, $small) {
        width:70%;
      }
    }
    .submit {
      width:20%;
      padding:1.15em;
      height:40px;
      @include at-query ($max, $small) {
        width:30%;
      }
    }
  }
  .action-buttons {
    position: relative;
    z-index:10;
    margin:0 auto;
    width:100%;
    text-align:center;
    clear:both;
    @include at-query ($max, $xsmall) {
    }
    @include at-query ($min, $medium) {
      margin-left:20%;
      text-align:left;
    }
    a, a:visited {
      color:white;
    }
  }
}

.copyright {
  color:white;
  font-size: $baseFontSize*.8;
  margin-top: 0;
  float: left;
  margin-left: 1em;
  border-top:1px solid $grey;
  padding-top:1em;
  width:100%;
}
