//Header styles

//Mixin for choosing the colors of the logo
@mixin logo($wash,$mon,$reg) {
  #logo-svg--washington {
    fill:$wash;
  }
  #logo-svg--monthly {
    fill:$mon;
  }
  #logo-svg--reg {
    fill:$reg;
  }
}

%logo-black {
  @include logo($black,$grey,$grey);
}

%logo-white {
  @include logo($white,$white,$white);
}

%logo-color {
  @include logo($secondary,$primary,$lighterGrey);
}

$header-height: 65px;

//Logos
svg {
  display:block;
}

#logos {
  header {
    position: absolute;
  }
  svg {
    margin:.5em .5em 1.5em 0;
    padding:.5em 14em .5em .5em;
    display:block;
    width:100%;
    height:$header-height;
  }
  .logo--large {
    svg {
      padding:.5em 9em .5em 4.5em;
      height:$header-height;
    }
  }
} //End logos

//Smaller Logos
.logo--small {
  svg {
    padding-right:19em !important;
    height:auto !important;
  }
}

//Remove reg symbol if class is applied
.logo--noreg {
  #logo-svg--reg {
    display:none;
  }
}
.black {
  @extend %logo-black;
}
.white {
  @extend %logo-white;
}
.color {
  @extend %logo-color;
}
.bg--secondary {
  @include logo($white,lighten($secondary,15%),$white);
}
.bg--primary {
  @include logo($white,$white,$white);
  background: darken($primary, 4%);
}
.bg--black {
  @include logo($white,$white,$lighterGrey);
}
.white-alt {
  @include logo($white,darken($lighterGrey,12%),$lightestGrey);
}

//Header layout
.header {
  height:$header-height;
  background: $black;
  position:fixed;
  width:100%;
  z-index: 999;
  @include at-query ($max, $small) {
    top:0;
  }
  .social {
    a {
      color:white;
    }
  }
  #logo {
    margin:.5em 0 .5em 5em;
    display:block;
    width:200px;
    float:left;
    background: url(#{$img}logo.png) no-repeat;
    background-size:100%;
    height:48px;
    svg {
      max-height:48px;
    }
    @include at-query ($max, $small) {
      width:188px;
    }
  }
}

.logged-in .header {
  top:32px;
}