//Styles for the featured section of the homepage

// .featured-blur {
//   display:none;
//   background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_dotted.png") repeat;
//   position:absolute;
//   z-index: 1;
//   left:0;
//   top:$header-height;
//   background-position: top center;
//   width:100%;
//   height:$featured-height + 30;
// }

#featured {
    background:$lighterGrey;

    &:before,
    &:after {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 0;
        width: 9600px;
        right: 100%;
        background: $lighterGrey;
    }

    &:after {
        width: 2200px;
        left: 100%;
    }
}

#container #content .home-featured {
  // background: rgba(0, 0, 0, 0.86);
  position:relative;
  height:$featured-height;
  z-index: 2;

  @include at-query ($max, $medium) {
    height:$featured-height-md + 30px;
    width:102%;
    margin-left:-2%;
  }
  @include at-query ($max, $small) {
    width:107%;
    height:auto;
    margin:0 -.8em 0 -.6em;
  }
  .hide-on-home {
    display:none;
  }

  .featured-image-wrapper {
    position: relative;
    width:100%;
    .recent-posts {
      position:absolute;
      z-index: 9;
      right:0;
      background:darken($grey, 5%);
      top:0;
      margin:0;
      width:$excerpt-width;
      height:$featured-height;
      font-size: $baseFontSize;
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
      &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
      }
      .author-info {
        border:none !important;
      }
      @include at-query ($max, $medium) {
        height:$featured-height-md;
      }
      @include at-query ($max, $small) {
        width:100%;
        height:auto;
        position: relative;
        float: left;
      }
      @include at-query ($min, $xlarge) {
        width:$excerpt-width - 4%;
      }
      h2{
        color:darken($lighterGrey,12%);
        text-align:center;
        background:$black;
        position: relative;
        float: left;
        font-size:$baseFontSize*1.415;
        text-transform: uppercase;
        font-weight: 100 !important;
        padding:.8em;
        margin:.1em 0 0 0 !important;
        width:100%;
        text-align:center;
        a {
          color:white;
        }
      }
      li {
        float:left;
        margin:0;
        padding:1em 1em 1.2em;
        clear:both;
        border-bottom:1px solid lighten($grey,5%);
        display:block;
        width:100%;
        &:last-child {
          margin-bottom:0;
          border:none;
        }
        &:hover {
          text-shadow:none;
          color:white;
          background:lighten($grey,2%);
        }
        a {
          color:#eee;
          padding:0;
          display:block;
          &:hover {
            span {
              border-bottom:1px solid white;
            }
          }
        }          
        .meta,
        .header-tag {
          a {
            padding:0;
            &:hover {
              background: none;
              text-decoration: underline;
            }
          }
        }
        .meta {
          font-size: $baseFontSize*.9;
          .by {
            display:none;
          }
          .author-info {
            a {
              color:$primary;
              &.link-twitter {
                display:none;
              }
            }
          }
          .byline {
            border:none;
            padding:0;
            margin:0;
            clear:both;
            top:0;
          }
        }
      }
    }
    .featured-excerpt {
      background: rgba(33, 33, 33, .85);
      position: absolute;
      left:0;
      bottom:0;
      width:100% - $excerpt-width;
      z-index: 9;
      padding:0 1em;
      @include at-query ($min, $xlarge) {
        width:104% - $excerpt-width;
      }
      @include at-query ($max, $small) {
        width:100%;
        position: relative;
        margin-top:-10px;
        background: black;
        padding:1em;
        float: left;
      }
      .meta {
        position:relative;
        float:left;
        color:white;
        padding-bottom:1em;
        font-size: $baseFontSize;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        .byline {
          color:#999;
          border-color:#999;
        }
      }
      &:before {
        content:"";
        position:absolute;
        display:block;
        background: $primary;
        color:white;
        padding:0;
        left:1em;
        top:0;
        height:5px;
        width:50px;
        z-index: 9;
        font-weight: 800;
        text-transform: uppercase;
        font-size: $baseFontSize*.9;
      }
      h2 a {
        color:#eee;
        line-height: normal;
        font-weight: 900;
        margin-top:0;
        position:relative;
        &:hover {
          color:white;
          span {
            border-bottom:1px solid white;
          }
        }
      }
      p {
        color:white;
        font-size: $baseFontSize;
        line-height: $baseFontSize*1.315;
        text-align:left;
        position: relative;
        left:0;
        padding:0 1em 1em 1em;
        margin:0 -1em;
        clear:both;
        a {
          color:$secondaryAltLight;
          &:hover {
            color:lighten($secondaryAltLight, 8%);
            text-decoration:underline;
          }
        }
      }
      .social {
        position: absolute;
        bottom:2em;
      }
    }
    .header-tag {
      position:absolute;
      right:$excerpt-width;
      top:1em;
      z-index: 9; 
      border:none;
      margin:0;
      height:auto;
      line-height: normal;
      font-size: $baseFontSize*.715;
      padding:0;
      li {
        a {
          padding:.25em .7em;
        }
      }
    }
    .featured-image {
      width:100%;
      .caption {
        display:none;
      }
      a {
        background-position: center center;
        background-size: cover;
        display:block;
        width:100% - $excerpt-width;
        height:$featured-height;
        @include at-query ($max, $medium) {
          height:$featured-height-md;
        }
        @include at-query ($max, $small) {
          width:100%;
          height:300px;
        }
        @include at-query ($min, $xlarge) {
          width:104% - $excerpt-width;
        }
      }
    }
  }
}

hr.red {
  position: relative; /* for the child pseudo-elements */
  /* negative offset = section padding */
  margin: 0;
  /* add back section padding value */
  padding: 0.25rem 0px;
  background: $primary;
  border:none;
  &:after,
  &:before {
    content: "";
    position: absolute;
    /* fill vertically */
    top: 0;
    bottom: 0;
    width: 9600px;
    right: 100%;
    background: $primary;
  }
  &:after {
    width: 3200px;
    left: 100%;
  }
}

#container #content .featured-posts {
  position:relative;
  padding:4em 0 0 0;
  margin-bottom:2em !important;
  border-bottom:3px solid $lightestGrey;
  display:flex;
  flex-flow:wrap;
  width:100%;
  float:left;
  .widget {
    flex-basis:100%;
    margin: 0 0 1em 0;
    img {
      width:100%;
    }
  }
  @include at-query ($max, $medium) {
    width:96%;
  }
  @include at-query ($max, $small) {
    width:100%;
    display:block;
    text-align:center;
    padding:0;
    margin-top:1em;
  }

  &:before {
    content:"Top Stories";
    background: $primary;
    color:white;
    padding:.3em 1em;
    font-size: $baseFontSize;
    text-transform: uppercase;
    font-weight: 800;
    left:50%;
    top:0;
    position:absolute;
    margin-left: -60px;
    border-radius:0 0 5px 5px;
    @include at-query ($max, $small) {
      position: relative;
      width:100px;
      text-align:center;
      left:0;
      float: none;
      margin:0 0 1em 0;
      clear:both;
      border-radius:0;
    }

  }
  &.philanthropy-homepage-block {
    position:relative;
    background:#f3f3f3;
    width:100%;
    padding:0;
    clear:both;
    float:left;
    @include at-query ($max, $medium) {
      width:96%;
    }
    @include at-query ($max, $small) {
      width:100%;
    }
    &:before {
      display:none;
    }
    .block-title {
      display:block;
      color:$green;
      background:white;
      padding-left:2.6em;
      @include at-query ($max, $small) {
        text-align:left;
        padding-bottom:1.5em;
      }
      padding-bottom:4px;
      border-bottom:1px solid $green;
      border-radius:0;
      width:100%;
      left:0;
      margin-left:0;
      position:relative;
      &:hover {
        color:lighten($green,4%);
        &:after {
          color:lighten($green,4%);
        }
      }
      &:before {
        content:"A sponsored project of the Washington Monthly";
        display:block;
        color:$lightGrey;
        font-size:$baseFontSize*.75;
        position:absolute;
        right:0;
        top:7px;
        @include at-query ($max, $small) {
          top:20px;
          left:3.8em;
        }
      }
      &:after {
        content:"\f06c";
        display:block;
        width:16px;
        height:16px;
        position:absolute;
        top:2px;
        left:1em;
        font-family:'FontAwesome';
        font-size: 1em;
        color:$green;
      }

    }
    
    .featured-post-tile {
      position:relative;
      margin:1em;
      padding:0;
      @include at-query ($max, $small) {
        margin:0 0 2em 0;
        &:last-child {
          margin:0;
        }
      }
      &:first-child {
        margin-right:0;
      }
      .featured-image {
        border-radius:0;
        overflow:hidden;
        &:hover {
          h2 {
            &:after {
              width:0;
            }
          }
          a {
            &:after {
              opacity:.3;
              z-index:999;
            }
            background-size:cover;
            background-position:center center;
          }
          .meta {
            div {
              position:relative;
              z-index:998;
            }
            &:after {
              opacity:.5;
              width:100%;
            }
          }
        }
        a {
          background-size:cover;
          background-position:center center;
          transition:all .2s;
         &:after {
            content:"";
            transition:all .2s;
            background:black;
            opacity:.5;
            position:absolute;
            width:100%;
            height:100%;
            float:left;
            top:0;
            display:block;
            z-index:995;
          } 
        }
        h2 {
        text-align:center;
        position:absolute;
        top:25%;
        z-index:999;
        width:100%;
        font-family:$serif;
        font-weight:700;
        transition:all .2s;
        @include at-query ($max, $medium) {
          font-size:$baseFontSize*1.125;
        } 
        &:after {
          transition:all .2s ease-in-out;
          content:"";
          display:inline-block;
          width:75px;
          position:relative;
          top:-.6em;
          height:1px;
          background:white;
        }
        a {
          color:white;
          display:block;
          &:after {
            display:none;
          }
          &:hover {
            text-decoration:none;
            color:white;
          }
        }
      }
      }
      .meta {
        position:absolute;
        z-index:999;
        color:white;
        bottom:10em;
        width:60%;
        text-align:center;
        left:30%;
        margin-left:-30px;
        line-height:normal;
        font-family:$sans-serif;
        @include at-query ($max, $medium) {
          bottom:45%;
        }
        &:after {
          transition:all .3s ease-in-out;
          width:0;
          opacity:0;
          content:"";
          display:none;
          position:relative;
          background:black;
          top:-45px;
          height:30px;
          padding-bottom:2em;
          z-index:997;
        }
        .author-info {
          float:left;
          border:none;
          padding:0;
        }
        a {
          color:white;
        }
        .byline {
          color:white;
          border:none;
          float:none;
        }
      }
    }
    p {
      margin:0;
      padding:0 1em !important;
      border:none !important;
      word-break:break-word;
      word-wrap:break-word;
      font-size:$baseFontSize;
      font-family:$sans-serif;
      @include at-query ($max, $small) {
        &:last-child {
          padding-bottom:1em !important;
        }
     }
    }
  }
  .featured-post-tile {
    flex-basis:40%;
    flex-grow:1;
    flex-shrink:0;
    position: relative;
    margin: 1.75em;
    border-bottom:1px solid $lightestGrey;
    @include at-query ($max, $small) {
      float: left;
      width:100%;
      margin-top:3em;
      margin:0 0 2em 0 !important;
      clear:both;
      border-bottom:2px solid $primary !important;
    }
    @include at-query ($max, $medium) {
      padding:.5em;
    }
    &:nth-child(even) {
      margin-left:0;
    }

    &:first-child,
    &:nth-child(2) {
      padding-top:0;
      border-bottom:1px solid $lightestGrey !important;
      @include at-query ($max, $small) {
        border-bottom:2px solid $primary !important;
      }
      .header-tag {
        top:4px;
      }
    }
    &:last-child,
    &:nth-last-child(2) {
      border-bottom:none;
    }
    &:last-child {
      border-right:none;
    }
    @include serif;
    h2 {
      font-size: $baseFontSize*1.315;
      margin-bottom: 0;
      font-weight: 900;
      @include at-query ($max, $small) {
        text-align: left;
      }
      @include sans-serif;
      a {
        color:black;
        &:hover {
          color:black;
          text-decoration: underline;
        }
      }
    }
    .meta {
      font-size: $baseFontSize*.9;
    }
    .featured-image {
      height:14em;
      border-radius:0 5px 0 5px;
      overflow: hidden;
      background: $lightestGrey;
      @include at-query ($max, $small) {
        width:100%;
        clear:both;
      }
      a {
        display:block;
        background-position: center center;
        background-size: cover;
        height:100%;
      }
    }
    .header-tag {
      display:none;
      position:absolute;
      right:1.725em;
      z-index: 9;
      top:2.1em;
      border:none;
      padding:0;
      font-size: $baseFontSize*.715;
      a {
        padding:.25em .7em;
        border-radius:0 4px 0 4px;
      }
    }
    p {
      font-size: $baseFontSize;
      line-height: $baseFontSize*1.25;
      clear:both;
      float:left;
      margin-top:.5em;
      border-top:$lighterGrey 1px solid;
      padding-top:.5em;
      text-align: left;
    }
  }
}

.latest-issue {
  display:none;
  @include at-query ($min, $xlarge) {
    display:block;
  }
  float:left;
  width:230px;
  img {
    float:left;
  }
  a {
    float:left;
    color:white;
    padding: .5em;
    color: white;
    position: relative;
    top: 20px;
    &:hover {
      text-decoration: underline;
      color:white;
    }
  }
}

$sticky-width: 50%;

//homepage cat blocks
#homepage-category-blocks {
  float:left;
  @include at-query ($min, $xlarge) {
    width:75%;
  }
  @include at-query ($max, $small) {
    width:100%;
    padding-right:0;
    float: none;
  }
}
#container #content .homepage-category-blocks {
  .highlighted-category-block {
    float: left;
    width: 100%;
    @include at-query ($min, $medium) {
      width:50%;
    }
    padding:0 2.25em 2.25em 0;
    margin-bottom:2em;
    @include at-query ($max, $small) {
      padding:0 0 2em;
      border-bottom:2px solid $primary;
      margin-bottom:2em;
    }
    &:first-child {
      padding-left:0 !important;
    }
    h2 {
      float:left;
      width:100%;
      border-bottom:1px solid $lighterGrey;
      margin-bottom:.5em;
      position:relative;
      padding-left:.7em;
      padding-bottom:.1em;
      a {
        color:$black;
        &:hover {
          color:$black;
          text-decoration: underline;
        }
      }
      @include headerchip($primary);
      &[class*="republic"] {
        @include headerchip(purple);
      }
      &.politics {
        @include headerchip($secondary);
      }
      &.economy {
        @include headerchip(#00B540);
      }
      &.health-care {
        @include headerchip($highlight);
      }
      &.books {
        @include headerchip(darken($secondary, 10%));
      }
      &[class*="law"] {
        @include headerchip(darken($lighterGrey, 5%));
      }
    }
    .sticky-post {
      width:$sticky-width;
      float: left;
      clear:both;
      @include at-query ($max, $small) {
        width:100%;
        margin-bottom:2em;
      }
      .featured-image {
        width:100%;
        height:240px;
        overflow:hidden;
        padding-bottom:1em;
        border-bottom:1px solid $lightGrey;
        margin-bottom:10px;
        img {
          width:100%;
          height:auto;
        }
      }
      .meta {
        line-height: $baseFontSize;
        margin:.5em 0;
        float:left;
        font-size: $baseFontSize;
        .byline {
          border:none;
          padding:0;
          margin:.3em 0;
          display:block;
          clear:both;
        }
      }
      p {
        text-align: left;
        line-height: normal;
      }
    }
    .highlighted-posts {
      margin:0;
      .meta {
        font-size: $baseFontSize *.815;
        .byline {
          position:absolute;
          right:0;
          top:0;
          margin:0;
          padding:0;
          border:none;
        }
      }
      li {
        float:left;
        clear:both;
        margin-bottom:.5em;
        padding-bottom:.5em;
        padding-right:6em;
        position:relative;
        border-bottom:1px solid $lighterGrey;
        width:100%;
        @include at-query ($max, $small) {
          margin-bottom:1em;
          padding-bottom:1em;
        }
        &:last-child {
          border:none;
          margin:0;
          padding:0 6em 0 0;
        }
      }
    }
    &.has-sticky {
      @include at-query ($min, $medium) {
        width:100%;
      }
      .highlighted-posts {
        float:left;
        width:$sticky-width - 3%;
        margin-left:3%;
        margin-top:-.4em;
        @include at-query ($max, $small) {
          width:100%;
          margin-left: 0;
        }
        h3 {
          font-size: $baseFontSize;
          line-height:normal;
          @include at-query ($max, $small) {
            margin-bottom:1em;
          }
        }
      }
    }
    h3 {
      clear:both;
      @include serif;
      font-size: $baseFontSize*1.215;
      margin: 0;
      line-height:normal;
      a {
        color:black;
        &:hover {
          color:$secondary;
        }
      }
    }
  }
}