//Megamenu overrides
$column1Width: 80%;
//Setup for mobile nav
@include at-query ($max, $medium) {
  .nav-open {
    transition:all .1s;
    background-color:$grey !important;
    #content {
      left:0;
      top:0;
      transition:all .1s;
      position:relative;
      background-color:white;
      margin-top:0;
      z-index:9997;
      &:before {
        content:"";
        display:block;
        width:100%;
        height:100%;
        position: absolute;
        background:black;
        opacity:.5;
        left:0;
        top:0;
        z-index: 99;
      }
    }
    .header {
      left:0; 
      width:100% !important;
      overflow:scroll !important;
      height:100% !important;
      top:0 !important;
      position:fixed;
      z-index: 9999;
    }
    #mega-menu-main-nav {
      top:65px;
      display:block;
      width:100%;
      z-index: 9998;
      position: relative;
      li.mega-menu-item:first-child a {
        padding:1em 0 1em 1em;
        display:block;
      }
      .mega-sub-menu {
        margin:0;
        .mega-menu-item {
          a {
            display:block;
          }
        }
      }
    }
  }
}
header {
  overflow:visible;
  @include at-query ($max, $small) {
    position:absolute !important;
    &:not(.fixed-height) {
      height:$header-height !important;
    }
  }
  #inner-header {
    position:relative;
  }
  .social {
    transition:all .1s;
    top:1em;
    right: 0;
    opacity:0;
    float: right;
    position:absolute;
    .hide-on-post {
      display:none;
    }
    @include at-query ($max, $medium) {
      display:none;
    }
  }
  &.scrolled,
  &.home-header {
    .social {
      opacity:1;
      display:block;
      position: relative;
      right:10%;
      @include at-query ($max, $medium) {
        background:black;
        display:none;
        float: left;
        left:0;
        margin-top:-1.01em;
        padding:.5em .5em .5em .7em;
        width:100%;
        border-bottom:$lightGrey 1px solid;
        z-index: 999;
        .btn {
          float:none;
          display:inline-block !important;
        }
      }
      #donate {
        display:inline-block;
      }
    }
    &.scrolled {
      .social {
        @include at-query ($max, $medium) {
          display:block;
          text-align:center;
        }
      }
    }
  }
  nav {
    position: absolute;
    top:0;
    overflow:visible;
  }
  #mega-menu-wrap-main-nav {
    float:left;
    width:100%;
    .mega-menu-toggle {
      background:$primary;
      //make it SQUARE!
      height:$header-height;
      width:$header-height;
      border-radius:0;
      &:focus {
        outline:none;
      }
      &.bg--white {
        background:white;
        #mega-toggle-block-1{
          &:before {
            color:$black;
          }
        }
      }
      &.bg--grey {
        background: $lightGrey;
      }
      .mega-toggle-block-right {
        float:none;
        margin-right:0;
      }
      .mega-toggle-block-left {
        float:none;
        margin-left:0;
      }
      &.mega-menu-open
        + #mega-menu-main-nav {
          position:absolute;
          z-index: 999;
          top:$header-height;
          left:0;
          background:$lightestGrey;
          width:100%;
          border-bottom:2px solid $lightGrey;
          border-left:1px solid darken($lighterGrey, 5%);
          border-right:1px solid darken($lighterGrey, 5%);
            > li.mega-menu-item {
              width:100% - $column1Width;
              clear:none;
              float:left;
              @include at-query ($max, $small) {
                width:100%;
              }
              &.mega-toggle-on {
                background: $lightestGrey;
              }
              &:first-child {
                border-right:1px solid darken($lighterGrey, 5%);               
                width:$column1Width;
                padding-bottom:1em;
                @include at-query ($max, $small) {
                  width:100%;
                  padding-bottom: 0;
                }
                a {
                  // border-bottom:1px solid darken($lighterGrey, 5%);
                  margin-bottom:1em;
                  padding-left:1em;
                }
                .mega-sub-menu {
                  -webkit-column-count: 3;
                       -moz-column-count: 3;
                            column-count: 3;
                    -webkit-column-gap: 0em;
                       -moz-column-gap: 0em;
                            column-gap: 0em;
                  @include at-query ($max, $small) {
                    -webkit-column-count: 1;
                         -moz-column-count: 1;
                              column-count: 1;
                  }
                            
                  .mega-sub-menu {  
                    position: relative;                    
                    -webkit-column-count: 1 !important;
                         -moz-column-count: 1 !important;
                              column-count: 1 !important;
                    border-left:1px solid $primary;
                    a {
                      line-height: $baseFontSize;
                      margin-bottom:0;
                      padding-left: 1em;
                      padding-right: 1em;
                    }
                  }
                  a {
                    border-bottom:0;
                  }
                  .mega-menu-item {
                    width:100%;
                    border-right:none;
                  }
                }
              }
              &:nth-child(2){
                text-indent:-9999px;
                > a {
                  @include at-query ($max, $small) {
                    display:none;
                  }
                }
              }
              //Dropdowns
              &.mega-menu-item-has-children {
                .mega-menu-link {
                  &:after {
                    display:none;
                  }
                }
              }
                .mega-sub-menu {
                  position:relative;
                  display:block !important;
                  background:$lightestGrey;
                  text-indent: 0;
                  .mega-menu-item {
                    width:100%;
                    display:inline-block;
                    position:relative;
                    font-size: $baseFontSize*1.35;
                    &:nth-child(2) {
                      text-indent: 0;
                    }
                    &:last-child {
                      border-bottom:none;
                    }
                    a {
                      color:$black !important;
                      line-height: 30px;
                      background: none;
                      padding:0 .9em;
                      font-size: $baseFontSize *1.125;
                      margin-bottom:.5em;
                      @include at-query ($max, $small) {
                        padding:1em .9em;
                        margin-bottom:0;
                        border-bottom:1px solid $lighterGrey;
                      }
                      // @include serif;
                      &:hover,
                      &:focus {
                        color:$black;
                        text-decoration: underline;
                        background:none;
                      }
                    }
                    &.mega-menu-item-has-children {
                      &:after {
                        content:"\f0d7";
                        display:none;
                        width:16px;
                        height:16px;
                        position:absolute;
                        font-family:'FontAwesome';
                        font-size: $baseFontSize;
                        color:$primary;
                        right: 7px;
                        z-index: 97;
                        top: 5px;
                      }
                    }
                    .mega-sub-menu {
                      display:block !important;
                      position:relative;   
                      .mega-menu-item {
                        width:100%;
                        font-size: $baseFontSize;
                      }
                    }
                  }
                  //Temporary image placeholder for design prototype
                  .mega-menu-item-6323 {
                    &:after {
                      content:"March/April/May 2016";
                      display:none;
                      font-size: $baseFontSize*1.5;
                      color:$primary;
                      background: url('https://upload.wikimedia.org/wikipedia/en/thumb/8/81/MonthlyJulAug11.jpg/150px-MonthlyJulAug11.jpg') no-repeat;
                      width:100%;
                      height:100px;
                      background-size: contain;
                      background-position:5%;
                      text-align: center; 
                      margin-top:1em;
                    }
                  }
                }
              }
              a.mega-menu-link {
                color:$lightGrey !important;
                text-transform: uppercase;
                padding:0px 10px 0px 10px;
                background: $lightestGrey;
                &:hover {
                  background:none;
                  color:$lightGrey;
                }
              }
        }
      #mega-toggle-block-1 {
        &:before {
          font-size: 40px;
          line-height: $header-height;
          margin:0;
        }
        &:after {
          display:none;
        }
      }
    }
  }
  //Header search
  .search {
    position:absolute;
    right:0;
    width:7%;
    height:$header-height;
    z-index: 9999;
    cursor:pointer;
    &.focus {
      width:50%;
      @include at-query ($max, $medium) {
        width:100%;
      }
      .search-form {
        .form-group {
          width: 100%;
          padding-left:1em;
          input.form-control {
            text-indent:0;
            &::-webkit-input-placeholder{font-size: 1.3em;}
            &:-moz-placeholder{font-size: 1.3em;}
            &::-moz-placeholder{font-size: 1.3em;}
            &:-ms-input-placeholder {font-size: 1.3em;}
          }
          .form-control-feedback {
            color:white;
          }
        }
      }
    }
  }
  .search-form {
    input[type="search"] {
      transition:.2s;
    }
    button[type="submit"] {
      display:none;
    }
    .form-group {
      position:absolute;
      right:0;
      width:auto;
      transition: all 0.35s, border-radius 0s;
      background-color: lighten($black,7%);
      color:$lightestGrey;
      height:$header-height;
      @include at-query ($max, $small) {
        height:$header-height - 1;
      }
      input.form-control {
        padding-right: 80px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display:block;
        height:$header-height;
        color:white;
        font-size: 1em;
        text-indent:-9999px;
        @include at-query ($max, $large) {
          padding-right:47px;
        }
        &::-webkit-input-placeholder {font-size: 0;}
        &:-moz-placeholder {font-size: 0;}
        &::-moz-placeholder {font-size: 0;}
        &:-ms-input-placeholder {font-size: 0;}
        @include at-query ($max, $small) {
        padding-right:36px;
        }
      }
      span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: 0px;
        z-index: 2;
        display: block;
        text-align: center;
        color: $lightestGrey;
        left: initial;
        font-size: 1.5em;
        padding:0em 1.3em;
        line-height:$header-height - 5;
        @include at-query ($max, $medium) {
          padding:0 .6em;
        }
        @include at-query ($max, $small) {
          right:.5em;
          padding:0;
        }
      }
    }
  }
}

//dropdown
.mega-menu-toggle.mega-menu-open
  + #mega-menu-main-nav,
  #mega-menu-main-nav {
    position:absolute;
    z-index: 999;
    top:$header-height;
    left:0;
    background:$lightestGrey;
    width:100%;
    border-bottom:2px solid $lightGrey;
    border-left:1px solid darken($lighterGrey, 5%);
    border-right:1px solid darken($lighterGrey, 5%);
    @include at-query ($max, $medium) {
      &.hide {
        display:none;
      }
    }
      > li.mega-menu-item {
        width:100% - $column1Width;
        clear:none;
        float:left;
        @include at-query ($max, $medium) {
          width:100%;
        }
        &.mega-toggle-on {
          background: $lightestGrey;
        }
        &:first-child {
          border-right:1px solid darken($lighterGrey, 5%);               
          width:$column1Width;
          padding-bottom:1em;
          @include at-query ($max, $medium) {
            width:100%;
            padding-bottom: 0;
          }
          a {
            border-bottom:1px solid darken($lighterGrey, 5%);
            margin-bottom:1em;
            padding-left:1em;
          }
          .mega-sub-menu {
            -webkit-column-count: 3;
                 -moz-column-count: 3;
                      column-count: 3;
              -webkit-column-gap: 0em;
                 -moz-column-gap: 0em;
                      column-gap: 0em;
            @include at-query ($max, $medium) {
              -webkit-column-count: 1;
                   -moz-column-count: 1;
                        column-count: 1;
            }
                      
            .mega-sub-menu {  
              position: relative;                    
              -webkit-column-count: 1 !important;
                   -moz-column-count: 1 !important;
                        column-count: 1 !important;
              border-left:1px solid $primary;
              a {
                line-height: $baseFontSize;
                margin-bottom:0;
                padding-left: 1em;
                padding-right: 1em;
              }
            }
            a {
              border-bottom:0;
            }
            .mega-menu-item {
              width:100%;
              border-right:none;
            }
          }
        }
        &:nth-child(2){
          text-indent:-9999px;
          > a {
            @include at-query ($max, $small) {
              display:none;
            }
          }
        }
        //Dropdowns
        &.mega-menu-item-has-children {
          .mega-menu-link {
            &:after {
              display:none;
            }
          }
        }
          .mega-sub-menu {
            position:relative;
            display:block !important;
            background:$lightestGrey;
            text-indent: 0;
            .mega-menu-item {
              width:100%;
              display:inline-block;
              position:relative;
              font-size: $baseFontSize*1.35;
              &:nth-child(2) {
                text-indent: 0;
              }
              &:last-child {
                border-bottom:none;
              }
              a {
                color:$black !important;
                line-height: 30px;
                background: none;
                padding:0 .9em;
                font-size: $baseFontSize *1.125;
                margin-bottom:.5em;
                @include at-query ($max, $small) {
                  padding:1em .9em;
                  margin-bottom:0;
                  border-bottom:1px solid $lighterGrey;
                }
                // @include serif;
                &:hover,
                &:focus {
                  color:$black;
                  text-decoration: underline;
                  background:none;
                }
              }
              &.mega-menu-item-has-children {
                &:after {
                  content:"\f0d7";
                  display:none;
                  width:16px;
                  height:16px;
                  position:absolute;
                  font-family:'FontAwesome';
                  font-size: $baseFontSize;
                  color:$primary;
                  right: 7px;
                  z-index: 97;
                  top: 5px;
                }
              }
              .mega-sub-menu {
                display:block !important;
                position:relative;   
                .mega-menu-item {
                  width:100%;
                  font-size: $baseFontSize;
                }
              }
            }
            //Temporary image placeholder for design prototype
            .mega-menu-item-6323 {
              &:after {
                content:"March/April/May 2016";
                display:none;
                font-size: $baseFontSize*1.5;
                color:$primary;
                background: url('https://upload.wikimedia.org/wikipedia/en/thumb/8/81/MonthlyJulAug11.jpg/150px-MonthlyJulAug11.jpg') no-repeat;
                width:100%;
                height:100px;
                background-size: contain;
                background-position:5%;
                text-align: center; 
                margin-top:1em;
              }
            }
          }
        }
        a.mega-menu-link {
          color:$lightGrey !important;
          text-transform: uppercase;
          padding:0px 10px 0px 10px;
          background: $lightestGrey;
          &:hover {
            background:none;
            color:$lightGrey;
          }
        }
  }


//Category list dropdown
.category-menu {
  @include sans-serif;
  right: 0;
  position: absolute;
  top: 3.5em;
  #mega-menu-wrap-content-top {
    .mega-menu-toggle {
      background: none;
      color:$grey;
      &.mega-menu-toggle.mega-menu-open 
        + #mega-menu-content-top {
          background: $black;
          li.mega-menu-item {
            border-left:7px solid $black;
            &:hover {
              &.header--mag {
                @include header-color($primary);
              }
              &.header--politics,
              &.mega-menu-item-785 {
                @include header-color($secondary);
              }
              &.header--education,
              &.mega-menu-item-786 {
                @include header-color($green);
              }
              &.header--economy,
              &.mega-menu-item-787 {
                @include header-color($success);
              }
              &.header--gov,
              &.mega-menu-item-788 {
                @include header-color($lightGrey);
              }
              &.header--health,
              &.mega-menu-item-789 {
                @include header-color($secondaryAltLight);
              }
              &.header--law,
              &.mega-menu-item-790 {
                @include header-color($lighterGrey);
              }
              &.header--books,
              &.mega-menu-item-791 {
                @include header-color($highlight);
              }
              &.header--phil,
              &.mega-menu-item-792 {
                @include header-color(lighten($green,10%));
              }
              &.header--special,
              &.mega-menu-item-793 {
                @include header-color($primary);
              }
            }
            a.mega-menu-link {
              padding:0.5em 6em .5em 1em;
              height:auto;
              &:hover {
                background: $grey;
              }
            }
          }
        }
      #mega-toggle-block-1 {
        &:before,
        &:after {
          color:$grey;
        }
        &:after {
          content:"Browse Categories"
        }
      }
    }
  }
}

.entry-content .pagination {
  li {
    padding:0 .8em;
    border-color:$lighterGrey;
    span {
      line-height: .2em;
    }
    &:before {
      display:none;
    }
  }
}

//hard fix for broken plugin
header #mega-menu-wrap-main-nav .mega-menu-toggle #mega-toggle-block-1:before {
  font-size: 40px;
  line-height: 65px;
  margin: 0;
  position: relative;
  left:7px;
}
#mega-menu-wrap-main-nav .mega-menu-toggle #mega-toggle-block-1:before {
  content: '\f333';
  font-family: 'dashicons';
  font-size: 24px;
  margin: 0 0 0 5px;
  color: #fff;
}

#mega-menu-wrap-main-nav .mega-menu-toggle.mega-menu-open #mega-toggle-block-1:before {
  content: '\f153';
}