/******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: none;

    // show links on printed pages
    &:after {
      content: " (" attr(href) ")";
      text-decoration:underline;
      font-size:11px;
      text-transform:lowercase;
    }

    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  .header {
    position:relative;
    #logo {
      margin-left:0;
      width:100%;
      svg {
        display:none;
      }
      &:before {
        content:"Washington Monthly";
        display:block;
        font-size:27px;
        color:$primary;
        letter-spacing:-1px;
      }
    }
    &.scrolled {
      position:relative;
    }
  }

  #main {
    width:100% !important;
  }

  .epq-pull-quote {
    page-break-after: avoid;
    a {
      display:none;
    }
  }

  #container {
    #content {
      margin:2em 0 0;
      .entry-header {
        float:left;
        clear:both;
        padding-top:0;
      }
      .author-info,
      .vcard.entry-meta,
      .header-tag,
      .link-twitter {
        border:none;
        clear: both;
        margin:.5em 0 0 0 !important;
        line-height: normal;
        padding:0 !important;
        &:before {
          display:none;
        }
        a {
          padding:0;
          top:0;
        }
        .link-twitter {
          margin-top:0 !important;
        }
      }
      .author-info {
        border-bottom: 1px solid;
        width: 100%;
        padding-bottom: .5em;
      }
    }
  }

  .footer {
    #logo {
      display:none;
    }
  }

    @page {
      margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    // hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav,
    iframe,
    .ad,
    .featured-image,
    .social,
    #related-posts,
    .action-buttons,
    #signup,
    .search,
    .adsbygoogle,
    .ads,
    .print-no,
    .no-print,
    .pum,
    .widget_media_image,
    #disqus_thread,
    #taboola-below-article-thumbnails,
    .addthis_toolbox,
    .header {
      display: none;
    }
