//Related posts
#container #content #related-posts {
  border-bottom:3px solid $lightestGrey;
  padding:1em 0 2em 0;
  margin-bottom:1em;
  float:left;
  @include sans-serif;
  h3 {
    font-size: $baseFontSize * 1.4;
    color:$grey;
    padding:.3em 0;
    border-bottom:1px solid $secondary;
    display:block;
    width:100%;
  }
  ul {
    float: left;
    clear:left;
    li {
      clear:both;
      float:left;
      width:100%;
      .related-post {
        padding:1.2em 0; 
        float:left;
        position: relative;
        .media-credit {
          &.d {
            display:block;
            max-width:150px;
            position: absolute;
            left: 0;
            text-align: left;
            bottom: .7em;
            float: left;
            margin: 0;
            color:$grey;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .related-thumb {
          float:left;
          margin:6px 1em 0 0;
          width:100%;
          @include at-query ($min, $medium) {
            width:150px;
          }
          @include at-query ($min, $xlarge) {
            width:21%
          }
          img {
            margin:0;
            width:100%;
            height:auto;
          }
        }
        .related-content {
          float:left;
          width:100%;
          @include at-query ($min, $medium) {
            width:60%;
          }
          @include at-query ($min, $xlarge) {
            width:75%;
          }
        }
        .meta {
          float:left;
          font-size: $baseFontSize*.85;
          .byline {
            top:3px;
          }
        }
        .author-info {
          border-left:0;
          margin:0;
          padding:0;
          clear:both;
        }
        .related-post-title {
          font-size: $baseFontSize * 1.2;
          color:$link-color;
          display:block;
          width:100%;
          line-height: normal;
          float: left;
        }
        .related-excerpt {
          color:$black;
          margin-top:1em;
          clear:both;
          float:left;
          .read-more {
            color:$link-color;
            padding:0;
          }
          .btn {
            display:none;
            // @include color-button($primary);
            // display:block;
            // float: right;
            // width: auto;
            // position: absolute;
            // right: 0;
            // top: 20%;
            // padding: .5em;
          }
        }
      }
    }
  }
}