//Sidebar widgets

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
  @include at-query($max, $xlarge) {
    padding-right: 2em !important;
  }
  @include at-query($max, $small) {
    padding-right: 0 !important;
    margin-bottom: 1em;
  }
  a {
    &:after {
      display: none;
    }
  }
}

.widgettitle {
  border-bottom: 1px solid $primary;
  @include sans-serif;
  font-weight: 100;
  font-size: $baseFontSize * 1.5;
}

.widget {
  ul {
    li {
      &:first-child {
      }
      &:last-child {
      }
      a {
      }
      /* deep nesting */
      ul {
      }
    }
  }
}

.no-widgets {
  background-color: $white;
  padding: 1.5em;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

.modal-text {
  display: none;
}

.aside {
  width: 25%;
  padding: 3em 0;
  top: 10%;
  float: left;
  transition: all 0.2s ease-in-out;
  div {
    width: 100%;
    text-align: center;
  }
  &.stuck {
    position: fixed;
    max-width: 260px;
    right: 8.5%;
    overflow-y: scroll;
    height: 100%;
  }
  img[alt='ad'] {
    width: 100%;
  }
  @include at-query($max, $medium) {
    float: left;
    width: 25.8%;
  }
  @include at-query($max, $small) {
    text-align: center;
    width: 100%;
  }
  #signup {
    @include at-query($max, $small) {
      display: none;
    }
    h2 {
      font-size: $baseFontSize * 1.415;
      font-weight: 700;
      margin-top: 0;
    }
  }
}

.sidebar,
.aside {
  .btn {
    width: 100%;
  }
  //Specific blank widget fix
  .widget_text:first-child {
    display: none;
  }

  #signup {
    h2 {
      margin-top: 0;
    }
  }
}

#container #content .sidebar-feed {
  float: left;
  border: 1px solid $lighterGrey;
  padding: 0.5em 1em;
  background: lighten($lightestGrey, 2%);
  article {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    background: none;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    p {
      line-height: normal;
      font-family: $sans-serif;
      margin: 0.2em 0 1em 0;
    }
    &:first-child {
      .header-tag {
        top: 0;
      }
    }
    .author-info {
      margin-left: 1px;
      font-size: $baseFontSize;
      @include sans-serif;
    }
    .header-tag {
      border: none;
      padding-left: 0;
      margin-left: 0;
      position: absolute;
      right: -3px;
      top: -1.4em;
      display: none; //hide for now
      a {
        background: none;
        color: $black;
      }
    }
    .entry-title {
      margin-top: 0.5em;
      margin-bottom: 0;
      @include sans-serif;
      line-height: normal;
      font-size: $baseFontSize * 1.1;
      a {
        &:hover {
          color: $black;
        }
      }
    }
    .entry-summary {
      float: left;
      clear: both;
      width: 100%;
      font-size: $baseFontSize;
      display: none;
      a {
        color: $black;
        display: block;
        &:hover {
          color: $grey;
          text-decoration: none;
          background: lighten($lightestGrey, 1%);
          &:after {
            display: none;
          }
        }
      }
    }
    .byline {
      margin: 0 0 0 1px;
      padding: 0;
      border: none;
      clear: both;
      display: block;
      @include sans-serif;
    }
  }
}

//Image widget
.widget_sp_image {
  text-align: center;
  .widgettitle {
    text-align: left;
  }
  img {
    height: auto;
  }
}

.widget_media_image {
  a {
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.page-template-page-full-width {
  .widget_media_image {
    a img {
      width: auto;
    }
  }
}
