/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/

//Source Sans and Source Serif are the default
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        'Source Sans Pro', serif;
$serif:             'Source Serif Pro', serif;
$baseFontSize : 16px;
$dropcap: 'EB Garamond';

@mixin body--text {
  color:darken($black, 10%);
  text-align:left;
  font-size: $baseFontSize*1.1;
  line-height: $baseFontSize*1.8;

}

@mixin serif {
  font-family:$serif;
}

@mixin sans-serif {
  font-family:$sans-serif;
}
@mixin serif-deco {
  font-family: $dropcap;
}
.serif {
  font-family: $serif;
}
.sans-serif {
  font-family: $sans-serif;
}

//Setting FontAwesome icons
@mixin fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa {
  @include fa;
}


/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  @include body--text;
  font-size: $baseFontSize;
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standard css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

//Headers
h1,h2,h3,h4,h5,h6 {
  margin:.3em 0;
  padding:0;
  clear:both;
}

//Category headers
@mixin header-color($color){
  color:$color;
  a, span {
    color:white;
    background-color:($color);
    padding:.2em .7em;
    position:relative;
    top:-4px;
    cursor:pointer;
    &:hover {
      background-color:lighten($color, 6%);
      color:white;
    }
  }
  &.h1 {
    color:$grey;
    position: relative;
    @include headerchip($color);
    padding-left:.5em;
    &:after {
      height:100%;
      top:0;
    }
  }
}

.title--category {
  @include sans-serif;
  text-transform: uppercase;
  padding:.2em;
  float:left;
  li a {
    color:white;
    &:hover {
      color:white;
    }
  }
  .post-categories {
    margin:0;
  }
  //Each category gets a different border color above the header
  &.header--magazine,
  &.header--featured,
  &[class*="special"] {
    @include header-color($primary);
  }
  &.header--politics,
  &.header--political-animal-blog,
  &.header--political-animal {
    @include header-color($secondary);
  }
  &.header--education,
  &[class*="grade"],
  &.header--k-12,
  &[class*="education"] {
    @include header-color(lighten($green,10%));    
  }
  &.header--economy {
    @include header-color(#00B540);
  }
  &.header--gov,
  &[class*="republic"],
  &[class*="government"] {
    @include header-color(purple);
  }
  &.header--health,
  &[class*="health"] {
    @include header-color($highlight);
  }
  &.header--law,
  &[class*="law"] {
    @include header-color(darken($lighterGrey, 5%));
    a {
      color:$grey;
    }
  }
  &.header--books {
    @include header-color(darken($secondary, 10%));
  }
  &.header--phil {
    @include header-color($green);
  }
  &.header--uncategorized {
    display:none;
  }
}

//The main text on posts
article {
  @include serif;
  //style dropcaps
  p {
    .dropcap {
      font-style:normal;
      color:$secondary;
      margin-right:.07em;
      margin-left:0;
      @include serif-deco;
    }
    //Letters that don't work too well by default
    &.dropcap-alt {
      .dropcap {
        margin-top:0 !important;
        margin-left:.1em;
      }
    }
  }

  .article-header {
    position: relative !important;
    &:not(.fixed-height){
      height: auto !important;
    }
    img {
      height:auto;
      margin-bottom:1em;
    }
    .media-credit {
      display: none;
    }
  }

}

//style blockquotes
blockquote,
.entry-content .quote {
  padding:0 2%;
  margin:1em 0;
  color:lighten($lightGrey,7%);
  position:relative;
  z-index: 2;
  text-align:justify;
  border:4px solid $lighterGrey;
  border-width:0 4px;
  font-size: $baseFontSize;
  &:before,
  &:after {
    display:none;
  }
  &.quoteAlt {
   &:before,
    &:after {
      @include fa;
      color:$lightestGrey;
      font-size:$baseFontSize * 3.5;
      position:absolute;
      z-index: -1;
    }
    &:before {
      content:"\f10d";
      left:-1em;
      top:0;
    }
    &:after {
      content:"\f10e";
      bottom:0;
      right:-1em;
    }
  }
}

.text--left {
  text-align:left !important;
}

.text--right {
  text-align:right !important;
}

aside,
.pullquote,
.epq-pull-quote {
  font-size: $baseFontSize*1.35;
  font-weight: 400;
  padding:.5em 0;
  width:40%;
  color:$black;
  border:3px solid $primary;
  border-width:2px 0;
  margin:.5em 1em .5em 0em;
  float:left;
  line-height: normal;
  text-align:left;
  a {
    .dashicons-twitter {
      margin-top: 5px;
    }
  }
  &.align-right,
  &.epq-align-right {
    float:right;
    margin-right:0;
    margin-left:1em;
  }
}

.h1 {
  @include serif;
  color:$grey;
  text-transform: capitalize;
  border-bottom:1px solid $lighterGrey;
  display:block;
  width:100%;
}

.text--center {
  text-align:center;
}

