/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 769px;
$desktop: 1024px;
$xlarge: 1200px;
$xxlarge: 1400px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'xsmall' '(max-width:#{$xsmall}',
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})',
  'xlarge' '(min-width: #{$xlarge})',
  'xxlarge' '(min-width: #{$xxlarge})'
);

/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

//Image library source
$img: '/wp-content/themes/washington-monthly/library/images/';


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/


//WM Color palette

$primary:           #EA002A;
$primaryAlt:        lighten($primary,4%);

$secondary:         #013EB9;
$secondaryAlt:      lighten($secondary,8%);
$secondaryAltLight: #00d2ff;

$highlight:         #ff8400;
$highlightAlt:      #ffaf02;

$success:           #0de4ab;
$alert:             #ff0000;

$black:             #222;
$grey:              #333;
$lightGrey:         #666;
$lighterGrey:       #eee;
$lightestGrey:      #f6f6f6;

$alert-yellow:      #f1c523;
$alert-red:         #ef4e31;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$white:             #fff;

$text-color:        $black;

$tan:               #eceee5;

$green:             #07795b;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $secondary;
$link-hover:        $secondaryAlt;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

//background color states
.bg--black {
  background: $black;
  fill:$black //for SVGs
}

.bg--primary  {
  background: $primary;
  fill:$primary;
}

.bg--primaryAlt  {
  background: $primaryAlt;
  fill:$primaryAlt;
}

.bg--secondary  {
  background: $secondary;
  fill:$secondary;
}

.bg--secondaryAlt  {
  background: $secondaryAlt;
  fill:$secondaryAlt;
}

.bg--secondaryAltLight  {
  background: $secondaryAltLight;
  fill:$secondaryAltLight;
}

.highlight {
  background: $highlight;
}

.highlightAlt {
  background: $highlightAlt;
}

.success {
  background: $success;
}

.bg--alert {
  background: $alert;
}

.bg--grey {
  background: $grey;
}

.bg--lightGrey {
  background: $lightGrey;
}

.bg--lighterGrey {
  background: $lighterGrey;
}

.bg--lightestGrey {
  background: $lightestGrey;
}


//Type colors
.text--navy {
  color:$secondary;
  fill:$secondary; //for SVGS
}

.text--white {
  color:white;
  fill:white; //for SVGs
}

.text--black {
  color:$black;
  fill:$black; //for SVGs
}

.text--red {
  color:$primary;
}

.text--large {
  font-size:1.2em !important;
}

//Img size states
.img--large {
  width:100%;
}

.img--med {
  width:70%;
}

.img--small {
  width:40%;
}

.align-right {
  float:right;
}

//HRs and borders
hr {
  color:$primary;
  border-style:solid;
  border-width:1px 0 0 0;
  clear:both;
  margin:1em 0;
  float:left;
  width:100%;
}

//Homepage
$featured-height:470px;
$featured-height-md:545px;
$excerpt-width:28.8%;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

//Footer variables
$footerHeight: 240px;
