//Specifics for those large tables!
.page-template-page-college-guide {
  overflow:visible;
  .widget_ultimate_posts {
    display:none; //in case someone forgets to remove it from the sidebar
  }
  .wrapper {
    overflow:auto;
    height:500px;
    border:1px solid $lighterGrey;
  }
}
.college-guide-embed {
  position: relative;
  z-index: 1;
  clear:both;
  margin-bottom:4em;
  &.fixed {
    tbody {
      tr:first-child,
      tr:nth-child(2) {
        position: fixed;
        top:$header-height;
        background: $white;
      }
      tr:first-child {
        height:22px;
      }
      tr:nth-child(2) {
        height:43px;
      }
    }
  }
  &:before,
  &:after {
    position: absolute;
    top:0;
    height:100%;
    content:"";
    display:none;
    width:4em;
    left:0;
    box-shadow:inset 2em -2em 3em white
  }
  &:after {
    right:0;
    left:auto;
    box-shadow: inset -2em -2em 3em white;
  }
  
  table {
    width:400%;
    position: relative;
    font-size: $baseFontSize *.9;
    th, td {
      text-align: left;
      border:1px solid $lightestGrey;
      padding:.3em;
    }
    &:before {
      content:"\f07e";
      display:block;
      width:500px;
      height:500px;
      position:fixed;
      font-family:'FontAwesome';
      font-size: 20rem;
      color:$black;
      opacity:0;
      top:30%;
      left:50%;
      margin-left:-250px;
      z-index: 2;
      transition:all .2s;
      text-align: center;
    }
    // &:hover,
    // &:focus {
    //   &:before {
    //     opacity:.2;
    //   }
    // }
  }
}


.college-guide-iframe {
  width: 100%;
  height: 2000px;
  border: none;
  overflow: scroll !important;
  clear:both;
  position:relative;
  left:0;
  @include at-query ($max, $medium) {
    margin-top: 2em;
    width:100%;
  }
}

.page-template-page-college-guide-2 {
  .entry-content {
    @include at-query ($max, $small) {
      margin-top:8em;
    }
  }
}

.mobile-msg {
  display:none;
}

@include at-query ($max, $medium) {
  .mobile-msg {
    display:block;
    position:fixed;
    bottom:0;
    padding:.5em;
    background:white;
    text-align:center;
    font-size:13px;
    width:100%;
    color:white;
    background:$grey;
    z-index:9999;
  }
}