//Styles specific to /styleguide

//Icons
#icons {
  i {
    margin:.3em;
    font-size:$baseFontSize * 2;
    color:$black;
  }
}

.panel {
  padding:1em;
  margin:.1em;
  border:1px solid $lightestGrey;
  float:left;
  width:100%;
  &:after {
    clear:both;
    content:"";
  }
  h4:first-child {
    @include sans-serif;
    color:darken($lighterGrey, 4%);
    text-transform: uppercase;
  }
}

//Swatches
.swatch {
  width:50px;
  height:50px;
  display:inline-block;
  margin:.3em;
}

//Ads
#ads {
  img {
    float:left;margin:.1em;
  }
  h5 {
    clear:both;
  }
}

.page-id-5 {
  .title--category {
    margin:1em;
  }
  h2 {clear:none;}
}