
@media only screen and (max-width: 1000px){
	
		.header_bottom {
		background-color: #c9c9c9;
	}
			
	 			.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:38.4px;			
		}
				
		
			.content h2{
			font-size:28.8px;
		}
						
			
					
	
			.filter_outer.filter_portfolio{
			line-height: 2em;	
		}
	}

@media only screen and (min-width: 600px) and (max-width: 768px){
			.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:33.6px;
		}
					.content h2{
			font-size:21.6px;
		}
						
	}

@media only screen and (min-width: 480px) and (max-width: 768px){
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	}

@media only screen and (max-width: 600px){
			.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:24px;
		}
						.content h2{
				font-size:18px;
			}
						
			.filter_outer.filter_portfolio{
			height:auto;	
		}
	}

@media only screen and (max-width: 480px){

				.title h1,
			.title h1.title_like_separator .vc_text_separator.full .separator_content{
				font-size:19.2px;
			}
						.content h2{
				font-size:14.4px;
			}
							
		section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	
	}