




    body{
                    font-family: 'Lora', sans-serif;
             font-size: 16px;     font-weight: 500;    }
    

    h3, h6,
    .pagination ul li.active span,
    .single_links_pages span,
    .comment_pager .page-numbers,
    .pagination ul li > a.inactive,
    .subtitle,
    .blog_holder article .post_info,
    .comment_holder .comment .text .comment_date,
    .latest_post_holder .post_info_section,
    .projects_holder article .project_category,
    .portfolio_slides .project_category,
    .projects_masonry_holder .project_category,
    .testimonials .testimonial_text_inner p:not(.testimonial_author),
    .price_in_table .mark,
    body div.pp_default .pp_description,
    .side_menu .widget li,
    aside.sidebar .widget:not(.woocommerce) li,
    aside .widget #lang_sel ul li a,
    aside .widget #lang_sel_click ul li a,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel_click ul li a,
    footer #lang_sel ul li a,
    footer #lang_sel_click ul li a,
    .header_top #lang_sel ul li a,
    .header_top #lang_sel_click ul li a,
    .header_bottom #lang_sel ul li a,
    .header_bottom #lang_sel_click > ul > li a {
        font-family: 'Lora', sans-serif;
    }
    


    .header_bottom,
	.fixed_top_header .bottom_header,
	header.centered_logo:not(.sticky):not(.scrolled) .main_menu_line_holder nav.main_menu{
    background-color: rgba(201,201,201,1);
    }

    








    .content .content_inner > .container > .container_inner,
    .content .content_inner > .full_width > .full_width_inner,
	body.page-template-blog-masonry-full-width-php .content .full_width .full_width_inner,
	.content .full_width.blog_masonry_full_width_template .full_width_inner{
    padding-top: 0px;
    }

    .content .content_inner > .container > .container_inner.default_template_holder{
		padding-top: 44px;
    }

    @media only screen and (max-width: 1000px){
    .content .content_inner > .container > .container_inner,
    .content .content_inner > .full_width > .full_width_inner,
    .content .content_inner > .container > .container_inner.default_template_holder,
	body.page-template-blog-masonry-full-width-php .content .full_width .full_width_inner,
	.content .full_width.blog_masonry_full_width_template .full_width_inner{
		padding-top: 44px !important;
    }
    }






















            .content{
        margin-top: -129px;
        }
				.content_wrapper{
        margin-top: 129px;
        }
    
@media only screen and (max-width: 1000px){
	.content_wrapper{
		margin-top: 0px;
	}
}



header .header_bottom.left_menu_position .logo_wrapper{
	width: 211.5px;
}

























    .content.content_top_margin{
		margin-top: 129px !important;
    }

    .vertical_menu_enabled .content.content_top_margin{
    margin-top: 0px !important;
    }





    header.sticky .logo_wrapper,
    header.sticky .side_menu_button,
    header.sticky .header_bottom_right_widget_holder,
    header.sticky .shopping_cart_inner,
		.side_menu.sticky .close_side_menu_holder{
		height: 60px !important;
    }

    header.sticky .header_bottom,
    header.fixed.scrolled .header_bottom,
    header.fixed_hiding.scrolled .header_bottom{
    box-shadow: none;
    -webkit-box-shadow: none;
	box-shadow: none;
    }




        @media only screen and (min-width: 1000px){
			header.fixed_hiding .eltd_logo a,
			header.fixed_hiding .eltd_logo{
				max-height: 50px;
			}
        }


















    .drop_down .second{
    border-top: 0 !important;
    }




    nav.main_menu > ul > li > a{
             font-size: 18px;                     }

	.header_bottom #lang_sel > ul > li > a,
	.header_bottom #lang_sel_click > ul > li > a,
	.header_bottom #lang_sel ul > li:hover > a{
             font-size: 18px !important;                     }

	

    nav.main_menu > ul > li > a > span.item_inner{
    
    
		
					border-style: solid;
		

                
        
            
            
            
                }
















































    
    
			





























    header.scrolled nav.main_menu > ul > li > a > span.item_inner,
    header.light.scrolled nav.main_menu > ul > li > a > span.item_inner,
    header.dark.scrolled nav.main_menu > ul > li > a > span.item_inner{
             font-size: 18px;                         }
    header.scrolled .side_menu_button_wrapper .side_menu_button a{
        }





















    h1{
                font-family: 'Lora', sans-serif;
        font-size: 48px;     line-height: 60px;     font-style: normal;     font-weight: 400;         text-transform: none;     }
    h2{
        font-size: 36px;     line-height: 45px;         font-weight: 400;             }
    h2, h2 a{
        }
    h3{
        font-size: 28px;     line-height: 35px;         font-weight: 400;             }
    h3, h3 a{
        }
    h4{
        font-size: 18px;     line-height: 22.5px;         font-weight: 400;             }
    h4, h4 a{
        }
    h5{
        font-size: 16px;                         }
    h5, h5 a{
        }
    h6{
        font-size: 14px;                         }
    h6, h6 a{
        }


    p{
    color:#333; font-size: 16px; line-height: 29px; letter-spacing.01em; font-style: normal;margin-top: 22px;margin-bottom: 22px    }
    

        blockquote h4, blockquote > p{
    font-size: 24px;text-transform: none    }






	body.single-post .title .title_subtitle_holder .subtitle{
		display:none;
	}





	
	




	
		
	


































































































































    .blog_holder.blog_vertical_loop_type article .post_image_title h2{
    text-align: dropdown    }



















































    			.pagination ul li.prev.prev_first a {
    				left: 50px;
    			}
    			.pagination ul li.next.next_last a {
    				right: 50px;
    			}
     















    .eltd_icon_shortcode.normal i, .eltd_icon_shortcode.normal span{
    color: #000000;
    }
























    #back_to_top > span{
    font-size: 14px;    }






	.carousel-control .prev_nav .numbers,
	.carousel-control .next_nav .numbers {
		-webkit-transition: color 0.15s ease-out;
		-moz-transition: color 0.15s ease-out;
		transition: color 0.15s ease-out;
		font-family: -1, sans-serif	}

    nav.content_menu ul li i,
    nav.content_menu .nav_select_menu ul li i{
        color: #000000;    }

    nav.content_menu ul li:hover i,
    nav.content_menu .nav_select_menu ul li:hover i{
        color: #000000;    }






























.eltd_team.below_image:not(.social_style_center) .eltd_team_social_holder_between.center{
    right: calc(50% - 23px);
}

.eltd_pricing_tables .price_table_inner ul a.button_on_bottom{
	left: calc(50% - 24px);
}

















































































































 



 



    @media only screen and (min-width: 600px){
        .footer_top, .eltd_column{
        text-align:  left        }
    }
















    .content_bottom{
    background-color:#ffffff;
    }





    aside.sidebar{
    text-align: left    }





















	
	
	




    .side_menu .widget,
    .side_menu .widget.widget_search form,
    .side_menu .widget.widget_search form input[type="text"],
    .side_menu .widget.widget_search form input[type="submit"],
    .side_menu .widget h6,
    .side_menu .widget h6 a,
    .side_menu .widget p,
    .side_menu .widget li a,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu .widget li,
    .side_menu_title h3,
    .side_menu .widget.widget_archive select,
    .side_menu .widget.widget_categories select,
    .side_menu .widget.widget_text select,
    .side_menu .widget.widget_search form input[type="submit"],
    .side_menu #wp-calendar th,
    .side_menu #wp-calendar td,
    .side_menu .eltd_social_icon_holder i.simple_social{
    color: #ffffff	}







/* widget elements style start */
/* search widget */

.widget.widget_search form input[type="submit"],
.header_top #searchform input[type="submit"],
.header-widget #searchform input[type="submit"],
.header_top #searchform input[type="submit"]{
	width: 30px;
}

.woocommerce .widget #searchsubmit,
aside.sidebar .widget_product_search form#searchform input#searchsubmit{
	width: 37px;
}

.widget.widget_search form input[type="text"],
.header_top #searchform input[type="text"],
.header-widget #searchform input[type="text"]{
	width: calc(100% - 30px);
}

.woocommerce .widget #searchform input[type='text'],
aside.sidebar .widget_product_search form#searchform input#s{
	width: calc(100% - 37px);
}

























	
	
	
		
















.vertical_menu_to_content .menu-item .second {
    left: calc(100% + 40px); /*because of the padding*/
}

.vertical_menu_right .vertical_menu_to_content .menu-item .second {
    right: calc(100% + 40px);
}

.vertical_menu_right .vertical_menu_to_content .second .inner ul li ul {
    right: calc(100% + 25px);
}

.vertical_menu_to_content .second .inner ul li ul {
    left: calc(100% + 25px);    
}










































































    nav.popup_menu > ul > li > a,
    nav.popup_menu > ul > li > h6{
             font-size: 20px;                         }











    nav.popup_menu ul li,
    .fullscreen_above_menu_widget_holder,
    .fullscreen_menu_widget_holder{
        text-align: center;
    }






    .projects_holder article .portfolio_description{
    background-color: transparent;
    }

    .projects_holder.standard article .portfolio_description,
    .projects_holder.standard_no_space article .portfolio_description {
    padding-left: 0;
    padding-right: 0;
    }

    .masonry_with_space .projects_holder article .portfolio_description {
    padding: 35px 0 43px;
    }
























    .filter_portfolio .filter_holder ul li:not(.filter_title) span{
    font-size: 18px;    }
    
    .filter_outer.filter_portfolio{
    height: 18px;    }




























































	

	




	
.woocommerce .product .onsale:not(.out-of-stock-button), 
.woocommerce .product .single-onsale{
	left: calc( 50% - 27px);
}	


 
 
.woocommerce .product .onsale.out-of-stock-button{
	  left: calc( 50% - 27px);
}












	
	


	






























.preload_background{
	background-image: url("/wp-content/themes/borderland/img/preload_pattern.png") !important;
}































    






