/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  padding: 1.5em 2em;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 0;
  text-decoration: none;
  font-family: sans-serif;
  transition: all.2s;
  color: $white;
  background: $primary;
  cursor: pointer;
  text-transform: uppercase;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  //reset :after due to the styling on text links
  &:after {
    display: none;
  }
} // end .button

/*
Color buttons. Just specify the color in the argument
and it will create a button with all the necessary states.
*/

@mixin color-button($bg) {
  @extend %btn;
  background-color: $bg;

  &:hover,
  &:focus {
    background-color: lighten($bg, 4%);
  } // end hover

  &:active {
    background-color: lighten($bg, 5%);
  } // end active
}

.btn {
  &.btn--blue {
    @include color-button($secondaryAlt);
    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      white-space: normal;
    }
  }
  &.btn--red {
    @include color-button($primary);
    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      white-space: normal;
    }
  }
  &.btn--white {
    @include color-button(#e4e4e4);
    color: #666;
    padding: 0.6em 0.8em;
    a {
      color: #666;
      font-weight: 400;
      text-decoration: none;
      white-space: normal;
    }
  }
}

//Social buttons
%btn-social {
  @extend %btn;
  position: relative;
  padding: 0.8em 1.5em;
  text-transform: capitalize;
  padding-left: 42px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
  margin-right: 4px;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    line-height: 30px;
    font-size: 1.4em;
    text-align: center;
  }
}

.home %btn-social {
  @include at-query($max, $medium) {
    padding: 0.8em 3em 0.8em 5em;
  }
  @include at-query($max, $small) {
    padding: 0.8em 1em;
    padding-left: 4.2em;
    padding-right: 1.7em;
  }
  > :first-child {
    @include at-query($max, $small) {
      width: 27px;
    }
  }
}

//Control all social buttons with this mixin then just define button bgcolor using variables below
@mixin social-button($bgcolor) {
  @extend %btn-social;
  color: white;
  background: darken($bgcolor, 4%);
  &:hover {
    background: lighten($bgcolor, 4%);
  }
  .fa {
    background: $bgcolor;
  }
}

$facebook: #3b5998;
$twitter: #00aced;
$google_plusone: #d34836;
$stumbleupon: #eb4823;
$print: $primary;
$email: lighten($primary, 5%);

.btn-facebook {
  @include social-button($facebook);
}

.btn-twitter {
  @include social-button($twitter);
}

.btn-google_plusone {
  @include social-button($google_plusone);
}

.btn-stumbleupon {
  @include social-button($stumbleupon);
}

.btn-print {
  @include social-button($print);
  @include at-query($max, $small) {
    display: none;
  }
}

.btn-subscribe {
  @include social-button($primary);
}

.btn-email {
  @include social-button($email);
}

.btn-donate {
  @include social-button($success);
}
#inner-header {
  .btn-subscribe,
  .btn-donate {
    @include at-query($max, $large) {
      display: none;
    }
  }
}

.home {
  #inner-header {
    .btn-subscribe,
    .btn-donate {
      @include at-query($max, $large) {
        display: block;
      }
    }
  }
}

//Tags
.tags {
  color: $secondary;
  .fa {
    position: relative;
    top: 2px;
  }
  li {
    margin: 0;
    display: inline-block;
    a {
      text-decoration: none;
      @include color-button($secondary);
      font-size: 9px;
      padding: 0.2em 0.5em;
    }
  }
}

//disqus count
.disqus-count {
  float: right;
  @include at-query($max, $small) {
    float: none;
    clear: both;
    margin: 0 0 1em 1.5em;
  }
  @include sans-serif;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: '\f0e5';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    font-family: 'FontAwesome';
    font-size: $baseFontSize;
    color: $primary;
    left: -1.3em;
    top: 1px;
  }
}

.action-buttons--first {
  display: none;
  @include at-query($max, $small) {
    display: block;
    position: absolute;
    top: 65px;
    width: 100%;
    left: 0;
  }
  a {
    @include at-query($max, $small) {
      width: 50%;
      float: left;
      border-radius: 0;
      margin: 0;
      text-align: center;
    }
    &:visited {
      color: white;
    }
  }
}

#inner-header .action-buttons--first {
  display: block;
  float: left;
}

//Ninja Tables override
.ninja_button {
  border: 0;
  font-family: $sans-serif;
  font-weight: bold;
}

//Contact Form 7 Submit button override
.wpcf7-submit {
  border: none !important;
}
