/*********************
LINK STYLES
*********************/
a,
a:visited,
a:focus {
  color: $link-color;
  text-decoration: none;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);

  @include at-query($max, $large) {
    display: inline;
  }

  /* on hover */
  &:hover,
  &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {
  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

//Taboola link override
.videoCube a {
  display: block;
}

.entry-content p,
.sidebar p,
.sidebar li {
  a {
    display: inline;
    /* on hover */
    &:hover,
    &:focus {
      color: $link-hover;
      &::after {
        opacity: 1;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $link-hover;
      content: '';
      opacity: 0;
    }
  }
}
