.modal {
  display: none;
}

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
  padding-right: 0 !important;
}

//TODO: Fix this so it's not ID dependent
#popmake-66671,
#popmake-67016 {
  .modal-hide {
    display: none;
  }
}

.pum-theme-106301 .pum-content + .pum-close,
.pum-theme-transparent-zero-margin-images-only .pum-content + .pum-close {
  @include at-query($max, $small) {
    right: 40vw !important;
    top: 100% !important;
  }
}

.pum-container {
  @include at-query($max, $medium) {
    .mceMediaCreditOuterTemp {
      text-align: center;
    }
    // max-height: 90vh !important;
    img {
      // max-height: 90vh !important;
    }
  }
}

.modal-inner,
.pum-container {
  .modal-text {
    display: block;
  }
  p {
    @include at-query($max, $small) {
      align: center;
    }
  }
  .sidebar-text {
    display: none;
  }
  .cover {
    float: left;
    margin: 0em 1em 1em 0;
    clear: both;
    @include at-query($max, $small) {
      margin: 1em 0 0 0;
      float: none;
    }
  }
  .alignleft {
    float: left;
  }
}

.modal-col-right {
  @include at-query($min, $medium) {
    margin-left: 2em;
    padding-top: 3em;
    max-width: 50%;
  }
}

.modal {
  display: none;
  .btn-close {
    position: absolute;
    color: white;
    opacity: 0.7;
    padding: 0;
    right: -2em;
    top: 10px;
    font-size: $baseFontSize * 2.815;
    cursor: pointer;
    z-index: 999;
    transition: all 0.1s;
    @include at-query($max, $medium) {
      top: 7%;
      color: black;
      right: 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.modal-content {
  display: block;
  position: fixed;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 999;
  top: 15%;
  @include at-query($max, $small) {
    margin-left: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 65px;
  }
  hr.red {
    padding: 0.05rem 0px;
  }
  .modal-inner {
    background: white;
    padding: 2em;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin: 1em 0;
    float: left;
    clear: both;
    @include at-query($max, $small) {
      text-align: center;
      border-radius: 0;
      margin-bottom: 0;
    }
    &.newsletter-modal {
      @include at-query($max, $small) {
        display: none;
      }
      h2 {
        text-align: center;
      }
    }
    h3 {
      text-align: center;
      .btn {
        margin: 0.8em auto;
        @include at-query($max, $small) {
          width: 80%;
        }
      }
    }
    h2 {
      clear: none;
    }
    .btn {
      @include color-button($secondaryAltLight);
      display: block;
      width: 30%;
      margin: 0 auto;
      clear: both;
      &.btn--primary {
        @include color-button($primary);
        @include at-query($max, $small) {
          clear: both;
          min-width: 80%;
        }
      }
    }
    .align-right {
      @include at-query($max, $medium) {
        width: 100%;
        text-align: center;
        margin-top: 1em;
      }
      a {
        display: block;
      }
    }
    svg {
      width: 40%;
      margin: 0 auto;
    }
    input[type='text'] {
      width: 70%;
      margin: 1em auto;
    }
  }
}

//Style overrides for default WM modal via Popup Maker
.pum-container {
  @include at-query($max, $small) {
    top: 2% !important;
    button,
    .btn {
      width: 100%;
    }
  }
  .btn {
    font-size: 0.8em;
  }
  .pum-title {
    margin: 0.8em 0 1em 0;
  }
  hr {
    opacity: 0.15;
  }
  .svg {
    max-width: 200px;
    margin: 1em auto;
    position: relative;
  }
  #signup {
    text-align: center;
    h2 {
      display: none;
    }
    h3 {
      margin-bottom: 1em;
    }
    input[type='text'] {
      @include at-query($min, $large) {
        width: 70%;
        float: left;
      }
    }
    .submit {
      padding: 0.85em 2em;
      width: auto;
      @include at-query($max, $small) {
        width: 100%;
      }
    }
  }
}
