.entry-content {
  table {
    width: 100%;
    border: 1px solid $lighterGrey;
    margin-bottom: 1.5em;
    font-size: $baseFontSize * .8;
    @include sans-serif;

    caption {
      margin: 0 0 7px;
      font-size: 0.75em;
      color: $lighterGrey;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  tr {
    border-bottom: 1px solid $lighterGrey;

    &:nth-child(even) {
    }
  }

  td {
    padding: .2em .8em;
    border-right: 1px solid $lighterGrey;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    border-bottom: 1px solid $lighterGrey;
    border-right: 1px solid $lighterGrey;
    padding:0 .8em;
    text-align: left;
    &:last-child {
      border-right: 0;
    }
  }
  tbody {
    border-top:1px solid $lighterGrey;
  }

  dl {}

  dt {}

  dd {
    margin-left: 0;
    font-size: 0.9em;
    color: #787878;
    margin-bottom: 1.5em;
  }
}

.floatThead-table {
  background:white;
  thead {
    tr:first-child {
      th,td {
        background:$lightestGrey;
      }
    }
    tr:last-child {
      th {
        border-bottom:1px solid $lightGrey !important;
      }
    }
  }
}

#table-loader {
  display:block;
  position: fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  background:rgba(255,255,255,.5);
  z-index: 1;
  &:before {
    content:"";
    position: absolute;
    margin:auto;
    overflow:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100px;
    height:100px;
    background: url(#{$img}table-loader.gif) no-repeat;
    background-size: contain;
    z-index: 2;
  }
}

//Inline Google CSV overrides
.igsv-table {
  table-layout: fixed;
  margin-bottom:0 !important;
  line-height: normal;
  opacity:0;
  td, th {
    width: 150px !important;
    padding:4px 10px !important;
    height:50px;
    @media screen and (max-width:768px){
      width:75px !important;
      overflow:scroll;
    }
  }
  tr {
    height:50px !important;
  }
  .col-1,
  .col-2 {
    font-size:12px;
    font-weight:bold;
    text-align:center;
    background:#f5f5f5;
  }
}

.dataTables_paginate,
.dt-buttons,
.dataTables_length,
.dataTables_filter {
  font-family:'Helvetica', sans-serif;
  font-size:12px;
}

.dataTables_paginate {
  @media screen and (min-width:1025px){
    position: fixed;
    right:15%;
    top:50%;
    background:#f5f5f5;
    padding:1em 2em .5em 2em;
    border:1px solid #ddd;
  }
}

.dataTables_length {
  width:25%;
  line-height:35px;
  margin:2em 0 0 0;
  @media screen and (max-width:768px){
    display:none;
  }
  select {
    width:50%;;
    display: inline;
    height:35px;
    line-height:35px;
  }
}

.dataTables_info {
  font-family:'Helvetica',sans-serif;
}

.dataTables_filter {
  text-align:right;
  float:left;
  input[type="search"] {
    width:85%;
  }
}

div.dt-button-collection {
  width:70%;
  font-size:16px;
  @media screen and (max-width:768px){
    width:82%;
    overflow-y:scroll;
    max-height:80vh;
  }
  a.dt-button {
    display:inline-block;
    border:none !important;
    white-space:normal;
    @media screen and (max-width:768px){ 
      display:block;
    }
    &.active:not(.disabled) {
      background-color:$secondary !important;
      color:white;
      background-image:none !important;
      box-shadow:none;
      border:none !important;
      &:hover {
        color:white !important;
      }
    }
    &:hover {
      color:black !important;
      background-color:lighten($secondary,5%) !important;
    }
    &:last-child {
      display:none;
    }
  }
}


.dataTables_scrollBody,
.DTFC_LeftBodyWrapper {
  thead {
    display:none;
  }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  display:none;
}

.DTFC_ScrollWrapper {
  &:after {
    content:"";
    height:100%;
    width:5px;
    position: absolute;
    right:0;
    top:0;
    background:black;
    opacity:.2;
    -webkit-filter:blur(5px);
    filter:blur(5px);
  }
}

// Ninja Tables CSS overrides
.semantic_ui {
  .ui {
    &.table {
      font-size: $baseFontSize * .8;
      border:none;
      &[class*="single line"]{
        white-space:normal;
      }
      thead {
        th {
          border-bottom:1px solid #999;
          border-right:0;
        }
      }
      td {
        border-right:0;
        border-left:0;
      }
    }
  }
}